@import 'components/pages/join/joinStyle';
@import 'components/pages/login/loginStyle';
@import 'components/pages/surveyFeed/surveyFeedStyle';

@import 'components/partials/link/linkStyle';
@import 'components/partials/navBar/navBarStyle';
@import 'components/partials/tabBar/tabBarStyle';

@import 'components/partials/surveyPreview/surveyPreviewStyle';

html {
  font-family: 'roboto';
  cursor: default;
  text-decoration: none;
  background-color: lightgray;
}
